.div__rate {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.div__converter {
    display: flex;
    justify-content: space-between;
}

.div__rate p,
.div__rate input {
    margin: 0 15px 0 0;
}

#select_swap {
    border: none;
    background: transparent;
}

#select_swap img {
    height: 20px;
    cursor: pointer;
}